---
import Resume from "../../components/resume.astro";
import SvgHeader from "../../components/svg-header.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";
import GitHubIcon from "../../components//github-icon.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('title')} description={t('description')}>
  <main class="w-full m-auto max-w-6xl">
    <section class="relative flex flex-col justify-center min-h-screen">
      <SvgHeader class="absolute inset-0 w-full h-screen" />
      <div class="px-4 max-w-2xl z-10">
        <h1
          class="text-4xl sm:text-6xl font-bold text-zinc-800 dark:text-zinc-100"
        >
          {t('index.title')}
        </h1>
        <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
          {t('description')}
        </p>
        <div class="mt-6 flex gap-6">
          <a class="group -m-1 p-1" href="https://github.com" aria-label="Follow on GitHub">
            <GitHubIcon class="h-6 w-6 fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300" />
          </a>
        </div>
      </div>
    </section>
    <section
      class="px-4 grid grid-cols-1 items-baseline gap-y-10 gap-x-6 lg:grid-cols-3 text-zinc-800 dark:text-zinc-100"
    >
      <p
        class="text-2xl font-semibold leading-9 tracking-tight text-zinc-800 dark:text-zinc-100"
      >
        {t('index.expertise')}
      </p>
      <div class="max-w-12xl space-y-10 lg:col-span-2">
        <p>
          <strong>{t('back-end')}</strong> — {t('building-apis')}
        </p>
        <p>
          <strong>{t('front-end')}</strong> — {t('building-applications')}
        </p>
        <p>
          <strong>{t('machine-learning')}</strong> — {t('learning-ml')}
        </p>
      </div>
    </section>
    <section class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none mt-24 md:mt-28">
      <div class="space-y-10 mx-auto">
        <Resume />
      </div>
    </section>
  </main>
  <footer class="mt-32">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="border-t border-zinc-100 pb-16 pt-10 dark:border-zinc-700/40">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div
              class="flex flex-col items-center justify-between gap-6 sm:flex-row"
            >
              <div
                class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200"
              >
              </div><p class="text-sm text-zinc-400 dark:text-zinc-500">
                &copy; {new Date().getFullYear()} David Rouyer. {t('copyright')}.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</Layout>
