---
import Resume from "../components/resume.astro";
import SvgHeader from "../components/svg-header.astro";
import Layout from "../layouts/Layout.astro";
import type { Frontmatter } from "../types";

const articles = await Astro.glob<Frontmatter>("../contents/**/*.md");
---

<Layout title="David Rouyer - Web Developer">
  <main class="w-full m-auto max-w-6xl">
    <section class="relative flex flex-col justify-center min-h-screen">
      <SvgHeader class="absolute inset-0 w-full h-screen" />
      <div class="px-4 max-w-2xl z-10">
        <h1
          class="text-4xl sm:text-6xl font-bold text-zinc-800 dark:text-zinc-100"
        >
          Software developer and bike enthusiast
        </h1>
        <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
          I'm David, a software developer based in Strasbourg. I am focused on
          web developement at Choose, where we highlight many cool brands.
        </p>
      </div>
    </section>
    <section
      class="px-4 grid grid-cols-1 items-baseline gap-y-10 gap-x-6 lg:grid-cols-3 text-zinc-800 dark:text-zinc-100"
    >
      <p
        class="text-2xl font-semibold leading-9 tracking-tight text-zinc-800 dark:text-zinc-100"
      >
        I have expertise on
      </p>
      <div class="max-w-12xl space-y-10 lg:col-span-2">
        <p>
          <strong>Back-end</strong> — Building powerful APIs to consume on the frontend
          using different languages and tools
        </p>
        <p>
          <strong>Front-end</strong> — Building complex and highly interactive applications
          with a focus on performance and accessibility
        </p>
        <p>
          <strong>Machine Learning and Deep Learning</strong> — Currently studying
          other subjects like Machine Learning and Deep Learning to improve my knowledge
          and prepare for the next generation of applications and websites
        </p>
      </div>
    </section>
    <!--section class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
      <div class="flex flex-col gap-16">
        {articles.map((article) => (
          <Article article={article} />
        ))}
      </div>
      <div class="space-y-10 lg:pl-16 xl:pl-24">
        <Resume />
      </div>
    </section-->
  </main>
  <footer class="mt-32">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="border-t border-zinc-100 pb-16 pt-10 dark:border-zinc-700/40">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div
              class="flex flex-col items-center justify-between gap-6 sm:flex-row"
            >
              <div
                class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200"
              >
              </div><p class="text-sm text-zinc-400 dark:text-zinc-500">
                &copy; {new Date().getFullYear()} David Rouyer. All rights
                reserved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</Layout>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700&display=swap");
  html,
  body {
    font-family: "Montserrat", sans-serif;
  }
</style>
